.fairylist-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.fairylist {
    width: 50vw;
    background-color: #0F0F27;
    border-radius: 20px;
    padding: 50px;
    margin-top: 50px;
}